body{
    background-color: rgb(68, 143, 153);
}
div{
    background-color: yellow;
    text-align: center;
}
.bacteria{
    background-color: rgb(157, 244, 6);
    text-align: center;
}
img{
    border-radius: 900px;
}
.solution{
    background-color: rgb(194, 64, 64);
    text-align: center;
}
button{
    background-color: aquamarine;
    color: rgb(255, 64, 0);
    border-radius: 900px;
    cursor: cell;
}